<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="babysky-mng-consumer"/>

    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" />


    <dubbo:reference interface="com.babysky.management.api.auth.service.api.MstRollBaseService" id="roleService" />
    <dubbo:reference interface="com.babysky.management.api.auth.service.api.MstInterUserRollService" id="authorizationService" />
    <dubbo:reference interface="com.babysky.management.api.auth.service.api.CfgSysResoService" id="resourceService" />
    <dubbo:reference interface="com.babysky.management.api.auth.service.api.MstInterUserBaseService" id="userService" />

    <dubbo:reference interface="com.babysky.management.api.auth.service.api.MstInterUserSubsyService" id="mstInterUserSubsyService" />

</beans>