<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="auth-server"/>

    <dubbo:registry  address="zookeeper://zkserver:2181"/>

    <!-- 订阅服务 -->
    <dubbo:consumer check="false"/>

    <dubbo:reference interface="com.platform.api.auth.service.RoleService" id="roleService" />
    <dubbo:reference interface="com.platform.api.auth.service.AuthorizationService" id="authorizationService" />
    <dubbo:reference interface="com.platform.api.auth.service.OrganizationService" id="organizationService" />
    <dubbo:reference interface="com.platform.api.auth.service.AppService" id="appService" />
    <dubbo:reference interface="com.platform.api.auth.service.ResourceService" id="resourceService" />
    <dubbo:reference interface="com.platform.api.auth.service.UserService" id="userService" timeout="10000"/>


    <!--<dubbo:reference interface="com.platform.api.business.subsy.service.SubsyBaseService" id="subsyBaseService" timeout="10000"/>-->
</beans>